---
layout: layout
image: ibelonghere.png
---

<div class="content">
  <div class="related">
      {% for post in site.posts %}
		  <div class="postpreview">
			<div class="postcontent">
				<div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
				<h2><a href="/{{site.url}}/{{ post.url }}">{{ post.title }}</a></h2>
				<p>{{ post.excerpt }}</p>
				<div class="more"><a href="/{{site.url}}/{{ post.url }}"><em>View Full Post ></em></a></div>
			</div>
			<div class="categories">
			Category: 
			{% for tag in post.categories   %}
				<a href="/{{site.url}}/Categories/{{ tag }}.html">{{tag}}</a>
			{% endfor %}
			</div>
		  </div>
		  <hr>
      {% endfor %}
  </div>
</div>
