---
layout: layout
title: technology
image: ibelonghere.png
---

<div class="content">
  <div class="related">
      {% for post in site.categories.[page.title] %}
		   <div class="postpreview">
			<div class="postcontent">
				<div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
				<h2><a href="/blog/{{ post.url }}">{{ post.title }}</a></h2>
				<p>{{ post.content }}</p>
			</div>
			<div class="categories">
			Category: 
			{% for tag in post.categories   %}
				<a href="/categories/{{ tag }}.html">{{tag}}</a>
			{% endfor %}
			</div>
		  </div>
		  <hr>
      {% endfor %}
  </div>
</div>