@font-face {
  font-family: myFirstFont;
  src: url('my-handwriting-ipad.ttf') format('truetype');
}

.content
{
	position: relative;
}

html 
{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.column
{
	width: 100%;
	display: container;
	min-width: 320px;
	margin: 0 auto;
	max-width: 1100px;
	-webkit-box-shadow: 1px 2px 5px 0 #000000;	
	-moz-box-shadow: 1px 2px 5px 0 #000000;
   	box-shadow: 0px 0px 5px 0 #000000;
}
</*
@media all and (max-width: 1000px) {
	.column
	{
		width: 100%;
	}
}

@media all and (min-width: 1001px) and (max-width: 1200px) {
	.column
	{
		width: 90%;
	}
}
*/
header 
{ 
	display: block;
    margin: 0 auto;
	width: 100%;
}

.bannerholder
{
	width: 100%;
	display: container;
	max-height: 700px;
}

img.banner
{
	display:block;
	width:100%;
	margin: 0 auto;
	max-height: 700px;
	overflow: hidden;
}

img.banner:hover
{
	-webkit-filter: hue-rotate(60deg);
}

h1
{       
	font-size: 2.5em;
	color: #850a0a;
	margin: 0 0;
	margin-top: 35px;
	z-index: 4;
	opacity: 0.99;
	padding-right: 5%;
	padding-left: 5%;
        line-height: 0.9em;
}

a
{
	color: #0db687;
	text-decoration: none;
	font-weight: bold;
}
a:visited
{
	color:  #005dbd;
}
a:visited:hover
{
	color:  #850a0a;
}
a:hover {
	color: #850a0a;
}

h2
{
	font-size: 1.8em;
}
h2 a:visited
{
	color: #002D5C;
}
h2 a:visited:hover
{
	color: #850a0a;
}
h2 a:hover
{
	color: #850a0a;
}
h3
{       
	font-size: 1.5em;
}
h4
{
	font-size: 1.2em;
}
.overlay
{
	margin-left: auto;
        margin-right: auto;
        margin-top: -160px;
	z-index: 7;
	background-color: #ffffff;
	height: 160px;
	width: 90%;
	display: block;
	overflow:hidden;
	line-height: 1;
}

.overlaytext
{
	font-size: 200px;
	opacity: 0.55;
	color: #E6EDEA;
	z-index:2;
	display: block-inline;	
	float:left;
	overflow:hidden;
	width:100%;
	#background: #ffffff;
	font-weight: bold;
	font-family: myFirstFont, Helvetica;
}

.overlaybackground
{
	background: #ffffff;
	width: 100%;
	height:130px;
	z-index:0;
	display: block;
	float:left;
	margin: 0 0;
	margin-top: -150px;
}

img.profile
{
	max-height:55px;
	margin-left: 20px;
	margin-right: 20px;	
	vertical-align:middle;
	border-radius: 5px;
}

img.profile:hover
{
	-webkit-filter: blur(1px);
}

.menu
{
	font-family: myFirstFont, arial, helvetica, sans-serif;
	font-size: 1em;
	padding-left:10px;
	padding-right:10px;
	width:98%;
	padding-top: 10px;
	padding-bottom: 5px;
	overflow: auto;
	background-color: black;
	color: white;
	text-transform: uppercase;
	position: fixed;
	min-width: 300px;
	max-width: 1080px;
	z-index: 10;
}

.menu a
{
	color: white;
	font-weight: bold;
}

.menu a:hover
{
	color: #850a0a;
	font-weight: bold;
}
section
{
	margin: 0 auto;
	width: 100%;
	display:block;
	font-size: 1.2em
}

hr
{
	width: 100%;
	background: #5c615c;
	color: #5c615c;
	margin: 2% 0 0 0;
	height: 4px;
	text-align: left;
	border-width: 0;
	
}
#menudivider
{
	background: #1d5e48;
	color: #1d5e48;
	margin: 0 0;
	height: 4px;
	text-align: left;

}
#menudividertop
{
	background: #000000;
	color: #1d5e48;
	margin: 0 0;
	height: 4px;
	text-align: left;
}
.postpreview
{
	display: container;
	width: 100%;
	height: 10%;
	margin: 0 0;
	padding-bottom: 10px;
	padding-left: 5px;
}

.postcontent img
{
	max-width: 96%;
        width: auto;
	border-radius: 5px;
	margin: 5px;
	max-height: 680px;
        margin-left: auto;
        margin-right: auto;
}

#postlogo
{
	max-height:50px;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align:middle;
	float:right;
}

.postcontent
{
	display: block;
	width: 80%;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.75em;
}

.categories a
{
	color: #1d5e48;
}

.categories a:visited
{
	color: #002D5C;
}

.categories a:visited:hover
{
	color: #850a0a;
}

.categories a:hover
{
	color: #850a0a;
}
.categories
{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}

footer
{
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom:20px;

}

.copyright
{
	display: block;
	width: 98%;
	color: #1d5e48;
	text-align: right;
	margin-right: 2%;
}

.date
{
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-weight: bold;
}

.postcontent div.date
{
	padding-bottom: 30px;
	padding-top: 30px;
}

.projects
{
	float: right;
}

.picturepost
{
	padding-left:5%;
	padding-right: 5%;
	padding-top: 10%;
	padding-bottom: 15%;
}

.picturepost hr
{
	padding: 0 0;
	margin: 0 0;
}

.more a
{
	color: #d51010;
}
.more a:visited 
{
	color: #850a0a;
}
.more a:visited :hover
{
	color: #d51010;
}
.more a:hover
{
	color: #850a0a;
}

code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    padding: 2px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}
