---
layout: layout
---

<div class="content">
  <div class="related">
      {% for post in site.categories.[page.title] %}
		   <div class="postpreview">
			<div class="postcontent">
				<div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
				<h2><a href="{{site.url}}/{{ post.url }}">{{ post.title }}</a></h2>
				<p>{{ post.excerpt }}</p>
				<a href="{{site.url}}/{{ post.url }}"><em>view Full Post ></em></a>
			</div>
			<div class="categories">
			Category: 
			{% for tag in post.categories   %}
				<a href="{{site.url}}/Categories/{{ tag }}.html">{{tag}}</a>
			{% endfor %}
			</div>
		  </div>
		  <hr>
      {% endfor %}
  </div>
</div>