<!DOCTYPE HTML>

<html>
  <div class="column">
	  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="Benjamin Vickers" />
		<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/normalize.css" /> 
		<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/{{site.css_flavour}}.css" /> 
		<link rel="stylesheet" type="text/css" href='{{site.url}}/assets/css/nv.d3.css' /> 
		<script src='{{site.url}}/assets/javascripts/d3.v3.js'></script>
		<script src='{{site.url}}/assets/javascripts/nv.d3.js'></script>
		<script src='{{site.url}}/assets/javascripts/prettify.js'></script>
		<script src='{{site.url}}/assets/javascripts/stream_layers.js'></script>
		<title>{{ page.title }}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<!-- mathJAX -->
		<script type="text/javascript" 
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
	  </head>
	  <body>
		<header>
			<div class="menu">
				BENJVI
				 - <a href="{{site.url}}/">POSTS</a>
				
			</div>

                        <hr class="bluehr"/>
                        <hr/>
		</header>
		<section>
		  {{ content }}
		</section>
	  </body>
	  <footer>
		<div class="copyright">
			Benjamin Vickers / ©
		</div>
		<div class="projects">
			<!--Projects: <a href="/AmIConnected/">Am I Well Connected</a>-->
		</div>
	  </footer>
  </div>
</html>
